# ANALYSIS FOR GIRLS' BLOCK
The blocks are named B, C, D with numbers between 1-9.
The first data is the one for the number of occupants from 2020/2021 to 2023/2024 academic session.
The dataframe essentially is meant to have the following columns:
* Year : the academic session
* Occupied : number of bed spaces occupied
* Unoccupied : the number of bed spaces unoccupied

In [ ]:
# Data Dictionary
girls_data = {'Year': ['2020/2021', '2021/2022', '2022/2023', '2023/2024'],
        'Occupied': [88, 126, 152, 94],
        'Unoccupied':[188-88, 188-126, 188-152, 188-94]}